:root {
  /* base colors */
  --gray: #e5e5e5;
  --gray-dark: #c4c4c4;
  --green: #00ab89;
  --green-dark: #00876c;
  --green-darker: #00715a;
  --white: #fff;

  /* shadows */
  --default-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

  /* header */
  --header-nav-background: var(--green-dark);
  --header-logo-background: var(--green);
  --header-text: var(--white);
  --header-separator-background: var(--green-darker);

  /* cfp admin */
  --cfp-admin-background: var(--gray);
  --cfp-admin-field-wrapper-border: var(--gray-dark);
  --cfp-admin-field-wrapper-active-border: var(--green);

  /* cfp field */
  --hint-color: var(--gray);

  /* input */
  --input-border-color: var(--green);

  /* select */
  --select-border-color: var(--green);
  --select-arrow-color: var(--green);

  /* button */
  --button-border: var(--green);
  --button-text: var(--green-dark);
  --button-background: transparent;

  /* card */
  --card-shadow: var(--default-shadow);
  --card-background: var(--white);
}
